<script type="text/html" id="welcome">
    <div data-bind="if: loginUser().isVisibleName">
        <h2>Welcome to MusicNetwork site!</h2>
        <p>
            Now you are the member of our music network! You can not only see what kinds of music our site is possesed,
            you can add some tracks to your profile and listen to it! Enjoy!
        </p>
        <p>
            In order to open your profile, click on your username at the top of the page or
            click <a href="#!/deep_navigation/profile">here</a>
        </p>
    </div>
</script>
